[client]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
innodb-use-native-aio = 0
skip-grant-tables

# START
# binary-log
log_bin = /var/log/mysql/mysql-bin
# server-id
server_id = 3
# END

[mysql]
prompt = '(master) [\\d] > '